.vs/PetShop/config/applicationhost.config
.vs/PetShop/FileContentIndex/91a86e8c-106c-4154-b4af-16b13996798c.vsidx
.vs/PetShop/FileContentIndex/c5fa492f-91c9-4af0-844a-e03b8b8b6e20.vsidx
.vs/PetShop/FileContentIndex/d4de9a54-282d-415d-b01e-d19f078323c8.vsidx
.vs/PetShop/v17/.suo
.vs/PetShop/v17/DocumentLayout.backup.json
.vs/PetShop/v17/DocumentLayout.json
